.header-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto 1fr;
  align-items: center;
  gap: 10px;
  justify-content: space-around; /* Distributes extra space around grid items */
  margin: 0 auto; /* Centers the grid container horizontally */
}

.column {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}

.column:hover {
  color: #edcd1f;
}
.yellow-color {
  color: #edcd1f;
}
.transparent-color {
  color: black;
}
